body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image: url(../img/berries.jpg);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.jumbotron {
    padding: 1%;
    border-radius: 0;
    display: block;
}

#form1 {
    position: relative;
    width: 100vw;
}

label {
    color: white;
}

/*------------------------------------------Main Panel CSS Start------------------------------------*/
#pnlMain {
    position: relative;
    margin-top: 15%;
    left: 50%;
    width: 450px;
    height: 350px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
}

#welcomeHeading {
    position: relative;
    color: white;
    text-align: center;
}


#divBtnLogin {
    position: absolute;
    width: 80%;
    top: 20%;
    left: 50%;
    margin-left: -40%;
}

#divBtnRegister {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    margin-left: -40%;
}
/*------------------------------------------Main Panel CSS End------------------------------------*/

/*------------------------------------------Login Panel CSS Start------------------------------------*/
#pnlLogin {
    position: relative;
    margin-top: 15%;
    left: 50%;
    width: 450px;
    height: 350px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
}

#loginHeading {
    position: relative;
    color: white;
    text-align: center;
}

#loginControls {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 20%;
}

#btnLoginSubmit {
    position: absolute;
    display: block;
    bottom: -25%;
    right: 0;
    width: 100px;
}

#btnLoginBack {
    position: absolute;
    display: block;
    bottom: -25%;
    left: 0;
    width: 100px;
}
/*------------------------------------------Login Panel CSS End------------------------------------*/

/*------------------------------------------Register Panel CSS Start------------------------------------*/
#pnlRegister {
    position: relative;
    margin-top: 26.5%;
    left: 50%;
    width: 900px;
    height: 700px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
}

#registerHeading {
    position: relative;
    color: white;
    text-align: center;
}

#btnRegisterBack {
    position: absolute;
    display: block;
    left: 2%;
    width: 100px;
}

#btnContinue {
    position: absolute;
    display: block;
    right: 2%;
    width: 100px;
}

#btnValidateUsernameReg {
    position: relative;
    left: 78.5%;
}
/*------------------------------------------Register Panel CSS End------------------------------------*/
/*------------------------------------------Register 2 Panel CSS Start------------------------------------*/
.pnlRegister2 {
    position: relative;
    margin-top: 13.25%;
    left: 50%;
    width: 900px;
    height: 300px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
}

#register2Heading {
    position: relative;
    color: white;
    text-align: center;
}

.pnlRegister2Calculate {
    position: relative;
    margin-top: 20%;
    left: 50%;
    width: 900px;
    height: 500px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
}

.pnlRegister2Input {
    position: relative;
    margin-top: 23.25%;
    left: 50%;
    width: 900px;
    height: 600px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
}

.pnlRegister2Macros {
    position: relative;
    margin-top: 26.5%;
    left: 50%;
    width: 900px;
    height: 700px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
}

#registerControls {
    position: absolute;
    width: 80%;
    left: 10%;
}

#register2Controls {
    position: absolute;
    width: 80%;
    left: 10%;
}

#btnRegisterSubmit {
    position: absolute;
    display: block;
    bottom: -7%;
    right: 0;
    width: 100px;
}

#btnCancel {
    position: absolute;
    display: block;
    bottom: -7%;
    left: 0;
    width: 100px;
}


#RadioButtonList1 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#ddGender {
    width: 100%;
}

#ddGoal {
    width: 100%;
}

#ddActivity {
    width: 100%;
}

#pnlRegister2FormControl {
    position: relative;
    margin-top: 7%;
}

#btnCalculateCaloriesMacros {
    position: relative;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    width: 100px;
    top: 0px;
    left: 0px;
}
