body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image: url(../img/spices.jpg);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.jumbotron {
    padding: 1%;
    border-radius: 0;
    display: block;
    padding-bottom: 0;
}

#loginBanner1 {
    padding: 1%;
    border-radius: 0;
    display: block;
}

#navigation {
    position: relative;
    left: -1%;
    margin-left: 0;
    width: 100vw;
    padding-left: 10px;
    padding-right: 40px;
}

#intro{
    background-color:azure;
    position:relative;
    width: 50%;
    height: 250px;
   margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
}

#innerIntro{
    padding: 3%;
    text-align: center;
}

#ContentPlaceHolder1_txtMBF {
    margin-top: 0.5em;
}

#ContentPlaceHolder1_txtFBF {
    margin-top: 0.5em;
}

#ContentPlaceHolder1_btnCalculateMF {
    margin-left: 85%;
}

#ContentPlaceHolder1_btnCalculateFF{
    margin-left: 85%;
}

#ContentPlaceHolder1_GridView1 {
    border-collapse: collapse;
}

#gridViewContainer{
    position:relative;
    overflow-x:auto;
    width: 800px;
    text-align:center;
    margin-left: 25%;
    margin-top: 5%;
}

#divBtn {
    position: relative;
    width: 800px;
    text-align: center;
    margin-left: 25%;
    margin-top: 0.5%;
}

#ContentPlaceHolder1_btnChangePassword {
    position:relative;
    margin-left: 80%;
}


#dChangePassword {
    position: relative;
    width: 200px;
    text-align: center;
    margin-left: 25%;
    background-color: azure;
    color: black;
}

#ContentPlaceHolder1_containerGridIngredients{
    width: 1140px !important;
    overflow-x: auto !important;
}

#ContentPlaceHolder1_GridViewIngredients1 {
    width: 100% !important;
}

#ContentPlaceHolder1_containerGridUsers {
    width: 1140px !important;
    overflow-x: auto !important;
}