body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image: url(../img/spices.jpg);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.jumbotron {
    padding: 1%;
    border-radius: 0;
    display: block;
    padding-bottom: 0;
}

#loginBanner1 {
    padding: 1%;
    border-radius: 0;
    display: block;
}

#navigation {
    position: relative;
    left: -1%;
    margin-left: 0;
    width: 100vw;
    padding-left: 10px;
    padding-right: 40px;
}

#intro{
    background-color:azure;
    position:relative;
    width: 50%;
    height: 250px;
   margin-left: 25%;
    margin-right: 25%;
    margin-top: 7%;
}

#innerIntro{
    padding: 3%;
    text-align: center;
}
#ContentPlaceHolder1_lblUserName {
    margin-left: 30%;
    font-size: 50px;
    color: white;
}
#ContentPlaceHolder1_tbFirstName {
    height: 32px;
    margin-left: 25%;
    border-radius: 10px;
    width: 500px;
}
#ContentPlaceHolder1_tbLastName {
    height: 32px;
    margin-left: 25%;
    border-radius: 10px;
    width: 500px;
}
#ContentPlaceHolder1_tbPassword1 {
    height: 32px;
    margin-left: 25%;
    border-radius: 10px;
    width: 500px;
}
#ContentPlaceHolder1_tbPassword2 {
    height: 32px;
    margin-left: 25%;
    border-radius: 10px;
    width: 500px;
}
#ContentPlaceHolder1_tbEmail {
    height: 32px;
    margin-left: 25%;
    border-radius: 10px;
    width: 500px;
}
#ContentPlaceHolder1_tbAge {
    height: 32px;
    margin-left: 25%;
    border-radius: 10px;
    width: 500px;
}
#ContentPlaceHolder1_Label1 {
    margin-left: 25.5%;
    color: white;
}
#ContentPlaceHolder1_Label2 {
    margin-left: 25.5%;
    color: white;
}
#ContentPlaceHolder1_Label3 {
    margin-left: 25.5%;
    color: white;
}
#ContentPlaceHolder1_Label4 {
    margin-left: 25.5%;
    color: white;
}
#ContentPlaceHolder1_Label5 {
    margin-left: 25.5%;
    color: white;
}
#ContentPlaceHolder1_Label6 {
    margin-left: 25.5%;
    color: white;
}
#ContentPlaceHolder1_regEmail {
    color: red;
    display: inline;
    margin-left: 25%;
}
#ContentPlaceHolder1_RequiredFieldValidator2 {
    color: Red;
    display: none;
    margin-left: 25%;
}
#ContentPlaceHolder1_ComparePass {
    color: Red;
    display: none;
    margin-left: 49.5%;
}
ContentPlaceHolder1_ReqEmail {
    color: red;
    display: inline;
    margin-left: 25%;
}
#ContentPlaceHolder1_RequiredFieldValidator1 {
    color: Red;
    display: none;
    margin-left: 25%;
}
#ContentPlaceHolder1_RequiredFieldValidator4 {
    color: Red;
    display: none;
    margin-left: 25%;
}
#ContentPlaceHolder1_RequiredFieldValidator3 {
    color: Red;
    display: none;
    margin-left: 25%;
}
#ContentPlaceHolder1_btnSave {
    margin-left = 26%;
}
#ContentPlaceHolder1_btnCancel {
    margin-left: 45%;
    margin-top: -2.5%;
    margin-bottom: 21%;
}